/* Main stylesheet */

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  color: #eee;
  /*padding-top: 75px;*/
  /*padding-bottom: 20px;*/
}

.admin_table {
  max-width: 400px;
}

#btn-submit {
  padding: 9px 16px;
  margin-bottom: 3px;
}

.background-img {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) no-repeat, url('../img/landing_page.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.container {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
}
