<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Executive Machine</title>
    
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Aw, snap...</h1>
      <p>The page you are looking for is not around. Move along.</p>
    </div>
  </body>
</html>
