{% extends "_base.html" %}
{% block title %} - Welcome{% endblock %}

{% block content %}

<div id="main">
  <h1>Your CEO is about to become obsolete.</h1>

  <form class="form-email" role="form" method="post" action="/">
    {{ form.csrf_token }}
    <h4>Overthrow your CEO. Join the <em>Machine Executive</em> revolution today:</h4>
    {{ form.email(placeholder="Your email") }}
    <button class="btn btn-success btn-sm" id="btn-submit" type="submit">Learn More</button>
    </p>
  </form>

</div>

{% endblock %}
