0 0 * * * root /usr/bin/scrape-events.sh "Tel Aviv, Israel"
3 0 * * * root /usr/bin/scrape-events.sh "Lahore, Pakistan"
6 0 * * * root /usr/bin/scrape-events.sh "Amritsar, India"
9 0 * * * root /usr/bin/scrape-events.sh "Cabo San Lucas, Mexico"
12 0 * * * root /usr/bin/scrape-events.sh "Belém, Brazil"
15 0 * * * root /usr/bin/scrape-events.sh "Denver, United States"
18 0 * * * root /usr/bin/scrape-events.sh "Ljubljana, Slovenia"
21 0 * * * root /usr/bin/scrape-events.sh "Bratislava, Slovakia"
24 0 * * * root /usr/bin/scrape-events.sh "Porto, Portugal"
27 0 * * * root /usr/bin/scrape-events.sh "Thessaloníki, Greece"
30 0 * * * root /usr/bin/scrape-events.sh "Clifton, United States"
33 0 * * * root /usr/bin/scrape-events.sh "Venice, Italy"
36 0 * * * root /usr/bin/scrape-events.sh "Salvador, Brazil"
39 0 * * * root /usr/bin/scrape-events.sh "Playa del Carmen, Mexico"
42 0 * * * root /usr/bin/scrape-events.sh "Atlanta, United States"
45 0 * * * root /usr/bin/scrape-events.sh "Kabul, Afghanistan"
48 0 * * * root /usr/bin/scrape-events.sh "Barcelona, Spain"
51 0 * * * root /usr/bin/scrape-events.sh "Gaziantep, Turkey"
54 0 * * * root /usr/bin/scrape-events.sh "Brisbane, Australia"
57 0 * * * root /usr/bin/scrape-events.sh "Fortaleza, Brazil"
0 1 * * * root /usr/bin/scrape-events.sh "Tbilisi, Georgia"
3 1 * * * root /usr/bin/scrape-events.sh "Pereira, Colombia"
6 1 * * * root /usr/bin/scrape-events.sh "Tangier, Morocco"
9 1 * * * root /usr/bin/scrape-events.sh "Panama City Beach, United States"
12 1 * * * root /usr/bin/scrape-events.sh "Riyadh, Saudi Arabia"
15 1 * * * root /usr/bin/scrape-events.sh "Ahmedabad, India"
18 1 * * * root /usr/bin/scrape-events.sh "Liverpool, United Kingdom"
21 1 * * * root /usr/bin/scrape-events.sh "Goiânia, Brazil"
24 1 * * * root /usr/bin/scrape-events.sh "Stockholm, Sweden"
27 1 * * * root /usr/bin/scrape-events.sh "León, Mexico"
30 1 * * * root /usr/bin/scrape-events.sh "Indore, India"
33 1 * * * root /usr/bin/scrape-events.sh "Ho Chi Minh City, Vietnam"
36 1 * * * root /usr/bin/scrape-events.sh "Lyon, France"
39 1 * * * root /usr/bin/scrape-events.sh "San Juan, Puerto Rico"
42 1 * * * root /usr/bin/scrape-events.sh "Windhoek, Namibia"
45 1 * * * root /usr/bin/scrape-events.sh "Honolulu, United States"
48 1 * * * root /usr/bin/scrape-events.sh "Charlotte, United States"
51 1 * * * root /usr/bin/scrape-events.sh "Mexico City, Mexico"
54 1 * * * root /usr/bin/scrape-events.sh "Puebla, Mexico"
57 1 * * * root /usr/bin/scrape-events.sh "Madison, United States"
0 2 * * * root /usr/bin/scrape-events.sh "London, United Kingdom"
3 2 * * * root /usr/bin/scrape-events.sh "Sarajevo, Bosnia and Herzegovina"
6 2 * * * root /usr/bin/scrape-events.sh "El Paso, United States"
9 2 * * * root /usr/bin/scrape-events.sh "Mumbai, India"
12 2 * * * root /usr/bin/scrape-events.sh "Birmingham, United Kingdom"
15 2 * * * root /usr/bin/scrape-events.sh "Khartoum, Sudan"
18 2 * * * root /usr/bin/scrape-events.sh "Jacksonville, United States"
21 2 * * * root /usr/bin/scrape-events.sh "Dhaka, Bangladesh"
24 2 * * * root /usr/bin/scrape-events.sh "Salta, Argentina"
27 2 * * * root /usr/bin/scrape-events.sh "Bangalore, India"
30 2 * * * root /usr/bin/scrape-events.sh "Calcutta, India"
33 2 * * * root /usr/bin/scrape-events.sh "Abu Dhabi, United Arab Emirates"
36 2 * * * root /usr/bin/scrape-events.sh "Cartagena, Colombia"
39 2 * * * root /usr/bin/scrape-events.sh "Kraków, Poland"
42 2 * * * root /usr/bin/scrape-events.sh "Montevideo, Uruguay"
45 2 * * * root /usr/bin/scrape-events.sh "Manaus, Brazil"
48 2 * * * root /usr/bin/scrape-events.sh "Columbus, United States"
51 2 * * * root /usr/bin/scrape-events.sh "Yogyakarta, Indonesia"
54 2 * * * root /usr/bin/scrape-events.sh "Quezon City, Philippines"
57 2 * * * root /usr/bin/scrape-events.sh "Kyoto-shi, Japan"
0 3 * * * root /usr/bin/scrape-events.sh "Tehran, Iran"
3 3 * * * root /usr/bin/scrape-events.sh "Balneário Camboriú, Brazil"
6 3 * * * root /usr/bin/scrape-events.sh "Pattaya, Thailand"
9 3 * * * root /usr/bin/scrape-events.sh "Yaoundé, Cameroon"
12 3 * * * root /usr/bin/scrape-events.sh "Varadero, Cuba"
15 3 * * * root /usr/bin/scrape-events.sh "Pisa, Italy"
18 3 * * * root /usr/bin/scrape-events.sh "Asunción, Paraguay"
21 3 * * * root /usr/bin/scrape-events.sh "Acapulco, Mexico"
24 3 * * * root /usr/bin/scrape-events.sh "Austin, United States"
27 3 * * * root /usr/bin/scrape-events.sh "Porto Alegre, Brazil"
30 3 * * * root /usr/bin/scrape-events.sh "Guarulhos, Brazil"
33 3 * * * root /usr/bin/scrape-events.sh "Seattle, United States"
36 3 * * * root /usr/bin/scrape-events.sh "San Francisco, United States"
39 3 * * * root /usr/bin/scrape-events.sh "Barquisimeto, Venezuela"
42 3 * * * root /usr/bin/scrape-events.sh "Kanpur, India"
45 3 * * * root /usr/bin/scrape-events.sh "Tampa, United States"
48 3 * * * root /usr/bin/scrape-events.sh "Cape Town, South Africa"
51 3 * * * root /usr/bin/scrape-events.sh "Puerto Vallarta, Mexico"
54 3 * * * root /usr/bin/scrape-events.sh "Brasov, Romania"
57 3 * * * root /usr/bin/scrape-events.sh "Abidjan, Côte d'Ivoire"
0 4 * * * root /usr/bin/scrape-events.sh "Monterrey, Mexico"
3 4 * * * root /usr/bin/scrape-events.sh "Praia Grande, Brazil"
6 4 * * * root /usr/bin/scrape-events.sh "Kyiv, Ukraine"
9 4 * * * root /usr/bin/scrape-events.sh "Verona, Italy"
12 4 * * * root /usr/bin/scrape-events.sh "Edmonton, Canada"
15 4 * * * root /usr/bin/scrape-events.sh "Port of Spain, Trinidad and Tobago"
18 4 * * * root /usr/bin/scrape-events.sh "Zagreb, Croatia"
21 4 * * * root /usr/bin/scrape-events.sh "Da Nang, Vietnam"
24 4 * * * root /usr/bin/scrape-events.sh "Kuwait, Kuwait"
27 4 * * * root /usr/bin/scrape-events.sh "Bristol, United Kingdom"
30 4 * * * root /usr/bin/scrape-events.sh "Panama City, Panama"
33 4 * * * root /usr/bin/scrape-events.sh "Bekasi, Indonesia"
36 4 * * * root /usr/bin/scrape-events.sh "Washington, United States"
39 4 * * * root /usr/bin/scrape-events.sh "Adana, Turkey"
42 4 * * * root /usr/bin/scrape-events.sh "Maputo, Mozambique"
45 4 * * * root /usr/bin/scrape-events.sh "Taipei, Taiwan"
48 4 * * * root /usr/bin/scrape-events.sh "Paris, France"
51 4 * * * root /usr/bin/scrape-events.sh "Athens, Greece"
54 4 * * * root /usr/bin/scrape-events.sh "Surabaya, Indonesia"
57 4 * * * root /usr/bin/scrape-events.sh "São José dos Campos, Brazil"
0 5 * * * root /usr/bin/scrape-events.sh "Davao City, Philippines"
3 5 * * * root /usr/bin/scrape-events.sh "Antipolo, Philippines"
6 5 * * * root /usr/bin/scrape-events.sh "Harare, Zimbabwe"
9 5 * * * root /usr/bin/scrape-events.sh "Albuquerque, United States"
12 5 * * * root /usr/bin/scrape-events.sh "Morelia, Mexico"
15 5 * * * root /usr/bin/scrape-events.sh "Nashville, United States"
18 5 * * * root /usr/bin/scrape-events.sh "Beirut, Lebanon"
21 5 * * * root /usr/bin/scrape-events.sh "Islamabad, Pakistan"
24 5 * * * root /usr/bin/scrape-events.sh "Hanoi, Vietnam"
27 5 * * * root /usr/bin/scrape-events.sh "Kuala Lumpur, Malaysia"
30 5 * * * root /usr/bin/scrape-events.sh "Mendoza, Argentina"
33 5 * * * root /usr/bin/scrape-events.sh "Cairo, Egypt"
36 5 * * * root /usr/bin/scrape-events.sh "San Diego, United States"
39 5 * * * root /usr/bin/scrape-events.sh "Managua, Nicaragua"
42 5 * * * root /usr/bin/scrape-events.sh "Santo Domingo, Dominican Republic"
45 5 * * * root /usr/bin/scrape-events.sh "San Salvador, El Salvador"
48 5 * * * root /usr/bin/scrape-events.sh "Naples, Italy"
51 5 * * * root /usr/bin/scrape-events.sh "Ribeirão Prêto, Brazil"
54 5 * * * root /usr/bin/scrape-events.sh "Perth, Australia"
57 5 * * * root /usr/bin/scrape-events.sh "Cebu City, Philippines"
0 6 * * * root /usr/bin/scrape-events.sh "Tegucigalpa, Honduras"
3 6 * * * root /usr/bin/scrape-events.sh "San Carlos de Bariloche, Argentina"
6 6 * * * root /usr/bin/scrape-events.sh "Viña del Mar, Chile"
9 6 * * * root /usr/bin/scrape-events.sh "Bologna, Italy"
12 6 * * * root /usr/bin/scrape-events.sh "Makati, Philippines"
15 6 * * * root /usr/bin/scrape-events.sh "Moscow, Russia"
18 6 * * * root /usr/bin/scrape-events.sh "Toronto, Canada"
21 6 * * * root /usr/bin/scrape-events.sh "Beijing, China"
24 6 * * * root /usr/bin/scrape-events.sh "Yerevan, Armenia"
27 6 * * * root /usr/bin/scrape-events.sh "Rosario, Argentina"
30 6 * * * root /usr/bin/scrape-events.sh "Maceió, Brazil"
33 6 * * * root /usr/bin/scrape-events.sh "Penang, Malaysia"
36 6 * * * root /usr/bin/scrape-events.sh "New Delhi, India"
39 6 * * * root /usr/bin/scrape-events.sh "La Plata, Argentina"
42 6 * * * root /usr/bin/scrape-events.sh "Joinville, Brazil"
45 6 * * * root /usr/bin/scrape-events.sh "Las Vegas, United States"
48 6 * * * root /usr/bin/scrape-events.sh "Belo Horizonte, Brazil"
51 6 * * * root /usr/bin/scrape-events.sh "Gaza, Palestine"
54 6 * * * root /usr/bin/scrape-events.sh "Geneva, Switzerland"
57 6 * * * root /usr/bin/scrape-events.sh "Dallas, United States"
0 7 * * * root /usr/bin/scrape-events.sh "Nairobi, Kenya"
3 7 * * * root /usr/bin/scrape-events.sh "Sacramento, United States"
6 7 * * * root /usr/bin/scrape-events.sh "Ankara, Turkey"
9 7 * * * root /usr/bin/scrape-events.sh "Cuenca, Ecuador"
12 7 * * * root /usr/bin/scrape-events.sh "Phnom Penh, Cambodia"
15 7 * * * root /usr/bin/scrape-events.sh "Frankfurt, Germany"
18 7 * * * root /usr/bin/scrape-events.sh "Ottawa, Canada"
21 7 * * * root /usr/bin/scrape-events.sh "Arequipa, Peru"
24 7 * * * root /usr/bin/scrape-events.sh "Lima, Peru"
27 7 * * * root /usr/bin/scrape-events.sh "Konya, Turkey"
30 7 * * * root /usr/bin/scrape-events.sh "Izmir, Turkey"
33 7 * * * root /usr/bin/scrape-events.sh "Rawalpindi, Pakistan"
36 7 * * * root /usr/bin/scrape-events.sh "Mataram, Indonesia"
39 7 * * * root /usr/bin/scrape-events.sh "Brasília, Brazil"
42 7 * * * root /usr/bin/scrape-events.sh "Batam, Indonesia"
45 7 * * * root /usr/bin/scrape-events.sh "Veracruz, Mexico"
48 7 * * * root /usr/bin/scrape-events.sh "Tijuana, Mexico"
51 7 * * * root /usr/bin/scrape-events.sh "Istanbul, Turkey"
54 7 * * * root /usr/bin/scrape-events.sh "Kaohsiung, Taiwan"
57 7 * * * root /usr/bin/scrape-events.sh "Dublin, Ireland"
0 8 * * * root /usr/bin/scrape-events.sh "Mérida, Mexico"
3 8 * * * root /usr/bin/scrape-events.sh "Saint-Denis, Réunion"
6 8 * * * root /usr/bin/scrape-events.sh "Semarang, Indonesia"
9 8 * * * root /usr/bin/scrape-events.sh "Port-au-Prince, Haiti"
12 8 * * * root /usr/bin/scrape-events.sh "Chandigarh, India"
15 8 * * * root /usr/bin/scrape-events.sh "Marseille, France"
18 8 * * * root /usr/bin/scrape-events.sh "Miami, United States"
21 8 * * * root /usr/bin/scrape-events.sh "Tainan, Taiwan"
24 8 * * * root /usr/bin/scrape-events.sh "Raleigh, United States"
27 8 * * * root /usr/bin/scrape-events.sh "Santiago, Chile"
30 8 * * * root /usr/bin/scrape-events.sh "Hyderabad, India"
33 8 * * * root /usr/bin/scrape-events.sh "Palembang, Indonesia"
36 8 * * * root /usr/bin/scrape-events.sh "Malang, Indonesia"
39 8 * * * root /usr/bin/scrape-events.sh "Bandung, Indonesia"
42 8 * * * root /usr/bin/scrape-events.sh "Yangon, Burma, Myanmar"
45 8 * * * root /usr/bin/scrape-events.sh "Pune, India"
48 8 * * * root /usr/bin/scrape-events.sh "Barranquilla, Colombia"
51 8 * * * root /usr/bin/scrape-events.sh "Vancouver, Canada"
54 8 * * * root /usr/bin/scrape-events.sh "Prague, Czech Republic"
57 8 * * * root /usr/bin/scrape-events.sh "Mexicali, Mexico"
0 9 * * * root /usr/bin/scrape-events.sh "Sofia, Bulgaria"
3 9 * * * root /usr/bin/scrape-events.sh "Oaxaca de Juárez, Mexico"
6 9 * * * root /usr/bin/scrape-events.sh "Tagaytay City, Philippines"
9 9 * * * root /usr/bin/scrape-events.sh "Copenhagen, Denmark"
12 9 * * * root /usr/bin/scrape-events.sh "Los Angeles, United States"
15 9 * * * root /usr/bin/scrape-events.sh "Antalya, Turkey"
18 9 * * * root /usr/bin/scrape-events.sh "Johor Bahru, Malaysia"
21 9 * * * root /usr/bin/scrape-events.sh "Turin, Italy"
24 9 * * * root /usr/bin/scrape-events.sh "Goa, India"
27 9 * * * root /usr/bin/scrape-events.sh "Vientiane, Laos"
30 9 * * * root /usr/bin/scrape-events.sh "Riga, Latvia"
33 9 * * * root /usr/bin/scrape-events.sh "Myrtle Beach, United States"
36 9 * * * root /usr/bin/scrape-events.sh "Guayaquil, Ecuador"
39 9 * * * root /usr/bin/scrape-events.sh "Recife, Brazil"
42 9 * * * root /usr/bin/scrape-events.sh "Vilnius, Lithuania"
45 9 * * * root /usr/bin/scrape-events.sh "Seoul, South Korea"
48 9 * * * root /usr/bin/scrape-events.sh "João Pessoa, Brazil"
51 9 * * * root /usr/bin/scrape-events.sh "Palma de Mallorca, Spain"
54 9 * * * root /usr/bin/scrape-events.sh "Oslo, Norway"
57 9 * * * root /usr/bin/scrape-events.sh "Kinshasa, Democratic Republic of the Congo"
0 10 * * * root /usr/bin/scrape-events.sh "Querétaro, Mexico"
3 10 * * * root /usr/bin/scrape-events.sh "Nice, France"
6 10 * * * root /usr/bin/scrape-events.sh "Maracaibo, Venezuela"
9 10 * * * root /usr/bin/scrape-events.sh "Chiclayo, Peru"
12 10 * * * root /usr/bin/scrape-events.sh "Palermo, Italy"
15 10 * * * root /usr/bin/scrape-events.sh "Manchester, United Kingdom"
18 10 * * * root /usr/bin/scrape-events.sh "Denpasar, Indonesia"
21 10 * * * root /usr/bin/scrape-events.sh "Budva, Montenegro"
24 10 * * * root /usr/bin/scrape-events.sh "Jakarta, Indonesia"
27 10 * * * root /usr/bin/scrape-events.sh "Santos, Brazil"
30 10 * * * root /usr/bin/scrape-events.sh "Pittsburgh, United States"
33 10 * * * root /usr/bin/scrape-events.sh "New York, United States"
36 10 * * * root /usr/bin/scrape-events.sh "Brighton, United Kingdom"
39 10 * * * root /usr/bin/scrape-events.sh "Belgrade, Serbia"
42 10 * * * root /usr/bin/scrape-events.sh "Saint Petersburg, Russia"
45 10 * * * root /usr/bin/scrape-events.sh "Cluj-Napoca, Romania"
48 10 * * * root /usr/bin/scrape-events.sh "Valencia, Venezuela"
51 10 * * * root /usr/bin/scrape-events.sh "Hamburg, Germany"
54 10 * * * root /usr/bin/scrape-events.sh "Phoenix, United States"
57 10 * * * root /usr/bin/scrape-events.sh "Guadalajara, Mexico"
0 11 * * * root /usr/bin/scrape-events.sh "Muscat, Oman"
3 11 * * * root /usr/bin/scrape-events.sh "Damascus, Syria"
6 11 * * * root /usr/bin/scrape-events.sh "Kampala, Uganda"
9 11 * * * root /usr/bin/scrape-events.sh "Luxembourg, Luxembourg"
12 11 * * * root /usr/bin/scrape-events.sh "Guatemala City, Guatemala"
15 11 * * * root /usr/bin/scrape-events.sh "Philadelphia, United States"
18 11 * * * root /usr/bin/scrape-events.sh "Oxford, United Kingdom"
21 11 * * * root /usr/bin/scrape-events.sh "Bucharest, Romania"
24 11 * * * root /usr/bin/scrape-events.sh "Colombo, Sri Lanka"
27 11 * * * root /usr/bin/scrape-events.sh "Bangkok, Thailand"
30 11 * * * root /usr/bin/scrape-events.sh "Trujillo, Peru"
33 11 * * * root /usr/bin/scrape-events.sh "Indianapolis, United States"
36 11 * * * root /usr/bin/scrape-events.sh "Suva, Fiji"
39 11 * * * root /usr/bin/scrape-events.sh "Mar del Plata, Argentina"
42 11 * * * root /usr/bin/scrape-events.sh "Baghdad, Iraq"
45 11 * * * root /usr/bin/scrape-events.sh "Edinburgh, United Kingdom"
48 11 * * * root /usr/bin/scrape-events.sh "Doha, Qatar"
51 11 * * * root /usr/bin/scrape-events.sh "Tirana, Albania"
54 11 * * * root /usr/bin/scrape-events.sh "Makassar, Indonesia"
57 11 * * * root /usr/bin/scrape-events.sh "Campinas, Brazil"
0 12 * * * root /usr/bin/scrape-events.sh "Warsaw, Poland"
3 12 * * * root /usr/bin/scrape-events.sh "Chiang Mai, Thailand"
6 12 * * * root /usr/bin/scrape-events.sh "Dubai, United Arab Emirates"
9 12 * * * root /usr/bin/scrape-events.sh "Nassau, The Bahamas"
12 12 * * * root /usr/bin/scrape-events.sh "Algiers, Algeria"
15 12 * * * root /usr/bin/scrape-events.sh "Córdoba, Argentina"
18 12 * * * root /usr/bin/scrape-events.sh "Cuernavaca, Mexico"
21 12 * * * root /usr/bin/scrape-events.sh "Florence, Italy"
24 12 * * * root /usr/bin/scrape-events.sh "Amsterdam, Netherlands"
27 12 * * * root /usr/bin/scrape-events.sh "Marrakesh, Morocco"
30 12 * * * root /usr/bin/scrape-events.sh "Maracay, Venezuela"
33 12 * * * root /usr/bin/scrape-events.sh "Brooklyn, United States"
36 12 * * * root /usr/bin/scrape-events.sh "Houston, United States"
39 12 * * * root /usr/bin/scrape-events.sh "Quito, Ecuador"
42 12 * * * root /usr/bin/scrape-events.sh "Shanghai, China"
45 12 * * * root /usr/bin/scrape-events.sh "Pekanbaru, Indonesia"
48 12 * * * root /usr/bin/scrape-events.sh "Málaga, Spain"
51 12 * * * root /usr/bin/scrape-events.sh "Florianópolis, Brazil"
54 12 * * * root /usr/bin/scrape-events.sh "Tunis, Tunisia"
57 12 * * * root /usr/bin/scrape-events.sh "São Paulo, Brazil"
0 13 * * * root /usr/bin/scrape-events.sh "Skopje, Republic of Macedonia"
3 13 * * * root /usr/bin/scrape-events.sh "Jepara, Indonesia"
6 13 * * * root /usr/bin/scrape-events.sh "Vienna, Austria"
9 13 * * * root /usr/bin/scrape-events.sh "Helsinki, Finland, Finland"
12 13 * * * root /usr/bin/scrape-events.sh "Luanda, Angola"
15 13 * * * root /usr/bin/scrape-events.sh "Charleston, United States"
18 13 * * * root /usr/bin/scrape-events.sh "Batam, Central African Republic"
21 13 * * * root /usr/bin/scrape-events.sh "Addis Ababa, Ethiopia"
24 13 * * * root /usr/bin/scrape-events.sh "Gurgaon, India"
27 13 * * * root /usr/bin/scrape-events.sh "Amman, Jordan"
30 13 * * * root /usr/bin/scrape-events.sh "Auckland, New Zealand"
33 13 * * * root /usr/bin/scrape-events.sh "Bahía Blanca, Argentina"
36 13 * * * root /usr/bin/scrape-events.sh "Kingston, Jamaica"
39 13 * * * root /usr/bin/scrape-events.sh "Jaipur, India"
42 13 * * * root /usr/bin/scrape-events.sh "Accra, Ghana"
45 13 * * * root /usr/bin/scrape-events.sh "Santa Cruz de la Sierra, Bolivia"
48 13 * * * root /usr/bin/scrape-events.sh "Chennai, India, India"
51 13 * * * root /usr/bin/scrape-events.sh "Cologne, Germany"
54 13 * * * root /usr/bin/scrape-events.sh "Orlando, United States"
57 13 * * * root /usr/bin/scrape-events.sh "Chittagong, Bangladesh"
0 14 * * * root /usr/bin/scrape-events.sh "Berlin, Germany"
3 14 * * * root /usr/bin/scrape-events.sh "Strasbourg, France"
6 14 * * * root /usr/bin/scrape-events.sh "Montreal, Canada"
9 14 * * * root /usr/bin/scrape-events.sh "Colorado Springs, United States"
12 14 * * * root /usr/bin/scrape-events.sh "Calgary, Canada"
15 14 * * * root /usr/bin/scrape-events.sh "Rome, Italy"
18 14 * * * root /usr/bin/scrape-events.sh "Munich, Germany"
21 14 * * * root /usr/bin/scrape-events.sh "Valletta, Malta"
24 14 * * * root /usr/bin/scrape-events.sh "Miami Beach, United States"
27 14 * * * root /usr/bin/scrape-events.sh "Tucson, United States"
30 14 * * * root /usr/bin/scrape-events.sh "Natal, Brazil"
33 14 * * * root /usr/bin/scrape-events.sh "Piura, Peru"
36 14 * * * root /usr/bin/scrape-events.sh "Reykjavík, Iceland"
39 14 * * * root /usr/bin/scrape-events.sh "Phuket, Thailand"
42 14 * * * root /usr/bin/scrape-events.sh "Nicosia, Cyprus"
45 14 * * * root /usr/bin/scrape-events.sh "Antananarivo, Madagascar"
48 14 * * * root /usr/bin/scrape-events.sh "Bucaramanga, Colombia"
51 14 * * * root /usr/bin/scrape-events.sh "Eskisehir, Turkey"
54 14 * * * root /usr/bin/scrape-events.sh "Bogor, Indonesia"
57 14 * * * root /usr/bin/scrape-events.sh "Baku, Azerbaijan"
0 15 * * * root /usr/bin/scrape-events.sh "Cabo Frio, Brazil"
3 15 * * * root /usr/bin/scrape-events.sh "Antofagasta, Chile"
6 15 * * * root /usr/bin/scrape-events.sh "Kathmandu, Nepal"
9 15 * * * root /usr/bin/scrape-events.sh "Milan, Italy"
12 15 * * * root /usr/bin/scrape-events.sh "Portland, United States"
15 15 * * * root /usr/bin/scrape-events.sh "Casablanca, Morocco"
18 15 * * * root /usr/bin/scrape-events.sh "Caracas, Venezuela"
21 15 * * * root /usr/bin/scrape-events.sh "Aguascalientes, Mexico"
24 15 * * * root /usr/bin/scrape-events.sh "Budapest, Hungary"
27 15 * * * root /usr/bin/scrape-events.sh "Melaka, Malaysia"
30 15 * * * root /usr/bin/scrape-events.sh "Lisbon, Portugal"
33 15 * * * root /usr/bin/scrape-events.sh "Delhi, India"
36 15 * * * root /usr/bin/scrape-events.sh "Madrid, Spain"
39 15 * * * root /usr/bin/scrape-events.sh "Medan, Indonesia"
42 15 * * * root /usr/bin/scrape-events.sh "Taichung, Taiwan"
45 15 * * * root /usr/bin/scrape-events.sh "Hermosillo, Mexico"
48 15 * * * root /usr/bin/scrape-events.sh "Bali, Indonesia"
51 15 * * * root /usr/bin/scrape-events.sh "Minneapolis, United States"
54 15 * * * root /usr/bin/scrape-events.sh "Zürich, Switzerland"
57 15 * * * root /usr/bin/scrape-events.sh "São Luís, Brazil"
0 16 * * * root /usr/bin/scrape-events.sh "Seville, Spain"
3 16 * * * root /usr/bin/scrape-events.sh "Baguio City, Philippines"
6 16 * * * root /usr/bin/scrape-events.sh "Chicago, United States"
9 16 * * * root /usr/bin/scrape-events.sh "Nouméa, New Caledonia"
12 16 * * * root /usr/bin/scrape-events.sh "Granada, Spain"
15 16 * * * root /usr/bin/scrape-events.sh "Port Louis, Mauritius"
18 16 * * * root /usr/bin/scrape-events.sh "Melbourne, Australia"
21 16 * * * root /usr/bin/scrape-events.sh "San Jose, United States"
24 16 * * * root /usr/bin/scrape-events.sh "Karachi, Pakistan"
27 16 * * * root /usr/bin/scrape-events.sh "Dakar, Senegal"
30 16 * * * root /usr/bin/scrape-events.sh "San José, Costa Rica"
33 16 * * * root /usr/bin/scrape-events.sh "Tangerang, Indonesia"
36 16 * * * root /usr/bin/scrape-events.sh "Singapore, Singapore"
39 16 * * * root /usr/bin/scrape-events.sh "San Luis Potosí, Mexico"
42 16 * * * root /usr/bin/scrape-events.sh "Tripoli, Libya"
45 16 * * * root /usr/bin/scrape-events.sh "Nha Trang, Vietnam"
48 16 * * * root /usr/bin/scrape-events.sh "Sanaa, Yemen"
51 16 * * * root /usr/bin/scrape-events.sh "Virginia Beach, United States"
54 16 * * * root /usr/bin/scrape-events.sh "Jerusalem, Israel"
57 16 * * * root /usr/bin/scrape-events.sh "Causeway Bay, Hong Kong"
0 17 * * * root /usr/bin/scrape-events.sh "Tallinn, Estonia"
3 17 * * * root /usr/bin/scrape-events.sh "Alexandria, Egypt"
6 17 * * * root /usr/bin/scrape-events.sh "Lucknow, India"
9 17 * * * root /usr/bin/scrape-events.sh "Cali, Colombia, Colombia"
12 17 * * * root /usr/bin/scrape-events.sh "Curitiba, Brazil"
15 17 * * * root /usr/bin/scrape-events.sh "Sydney, Australia"
18 17 * * * root /usr/bin/scrape-events.sh "San Antonio, United States"
21 17 * * * root /usr/bin/scrape-events.sh "Jeddah, Saudi Arabia"
24 17 * * * root /usr/bin/scrape-events.sh "Rotterdam, Netherlands"
27 17 * * * root /usr/bin/scrape-events.sh "Buenos Aires, Argentina"
30 17 * * * root /usr/bin/scrape-events.sh "Lagos, Nigeria"
33 17 * * * root /usr/bin/scrape-events.sh "Manila, Philippines"
36 17 * * * root /usr/bin/scrape-events.sh "Cancún, Mexico"
39 17 * * * root /usr/bin/scrape-events.sh "Leeds, United Kingdom"
42 17 * * * root /usr/bin/scrape-events.sh "Boston, United States"
45 17 * * * root /usr/bin/scrape-events.sh "New Orleans, United States"
48 17 * * * root /usr/bin/scrape-events.sh "Mysore, India"
51 17 * * * root /usr/bin/scrape-events.sh "Dar es Salaam, Tanzania"
54 17 * * * root /usr/bin/scrape-events.sh "Rio de Janeiro, Brazil"
57 17 * * * root /usr/bin/scrape-events.sh "Surat, India"
0 18 * * * root /usr/bin/scrape-events.sh "Santa Marta, Colombia"
3 18 * * * root /usr/bin/scrape-events.sh "Medellín, Colombia"
6 18 * * * root /usr/bin/scrape-events.sh "Bogotá, Colombia"
9 18 * * * root /usr/bin/scrape-events.sh "Brussels, Belgium"
12 18 * * * root /usr/bin/scrape-events.sh "Bhopal, India"
15 18 * * * root /usr/bin/scrape-events.sh "Baltimore, United States"
18 18 * * * root /usr/bin/scrape-events.sh "Tokyo, Japan"
