30 7 * * * root (curl -s -S -d "location=San Francisco, California" -X POST http://eventscrape && echo "scraping SF" || echo "error scraping SF") >> /var/log/cron.log 2>&1
30 15 * * * root (curl -s -S -d "location=Tokyo, Japan" -X POST http://eventscrape && echo "scraping Tokyo" || echo "error scraping Tokyo") >> /var/log/cron.log 2>&1
0 13 * * * root (curl -s -S -d "location=Berlin, Germany" -X POST http://eventscrape && echo "scraping Berlin" || echo "error scraping Berlin") >> /var/log/cron.log 2>&1
