<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Executive Machine</title>
    
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
  </head>
  <body class="background-img">

    <div class="container">

      <div id="main">
        <h1>Your CEO is about to become obsolete.</h1>

        <h4>Overthrow your CEO. Join the <em>Machine Executive</em> revolution today:</h4>
        <form class="form-email" role="form" method="post" action="/signup">
          <input type="text" placeholder="Your email" id="email" name="email">
          <button class="btn btn-success btn-sm" id="btn-submit" type="submit">Learn More</button>
          </p>
        </form>
      </div>

      <footer class="footer">
        <p>Copyright &copy; 2016 Executive Machine</a>.</p>
      </footer>

    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>

  </body>
</html>
